footer
    .container
        .row
            .col-sm-4.col-md-4.col-lg-3.col-xl-3
                .footer-1.footer-box
                    .footer-box__img
                        img(src='../assets/images/logo.png' alt='')
                    .footer-box__content.footer-box__content--mr-top
                        a(href='') Add: Tòa nhà H3, 384 Hoàng Diệu, Quận 4, TP.Hồ Chí Minh
                        a(href='') Phone: 028. 38246766 Fax: 028. 38266766
                        a(href='') Email: info@antingroup.vn
            .col-sm-4.col-md-4.col-lg-2.col-xl-2
                .footer-2.footer-box
                    h2 VỀ AN TÍN GROUP
                    .footer-box__content
                        a(href='') Thông Điệp CT HĐQT
                        a(href='') Tuyên Ngôn Giá Trị
                        a(href='') Tuyên Ngôn Chiến Lược
                        a(href='') Công Ty Thành Viên
                        a(href='') Khách Hàng
            .col-sm-4.col-md-4.col-lg-2.col-xl-2
                .footer-3.footer-box
                    h2 LĨNH VỰC HOẠT ĐỘNG
                    .footer-box__content
                        a(href='') Lĩnh Vực Truyền Thông
                        a(href='') Lĩnh Vực Du Lịch
                        a(href='') Lĩnh Vực Công Nghệ
                        a(href='') Lĩnh Vực Đầu Tư
                        a(href='') Lĩnh Vực Du Học
                        a(href='') Lĩnh Vực Đào Tạo
            .col-sm-4.col-md-4.col-lg-2.col-xl-2
                .footer-4.footer-box
                    h2 THÔNG TIN
                    .footer-box__content
                        a(href='') Sự Kiện An Tín
                        a(href='') Video Sự Kiện An Tín
                        a(href='') Tuyển Dụng
                        a(href='') Thư Viện Ảnh
                        a(href='') Cơ Hội Nghề Nghiệp
                        a(href='') Liên Hệ
            .col-sm-4.col-md-4.col-lg-3.col-xl-3
                .footer-5.footer-box
                    h2 ĐĂNG KÍ NHẬN TIN
                    .footer-box__content
                        p Xin vui lòng để lại địa chỉ email, chúng tôi sẽ cập nhật những tin tức quan trọng của An Tín Group tới quý khách
                    //- form__form(action='')
                    //-   .form-control
                    //-     input(type='text' name='search')
                    //-     button.btn XÁC NHẬN
                    //-   __icon-social
                    //-     __icon-social--ins
                    //-       img(src='../assets/images/instagram.png' alt='')
                    //-     __icon-social--fb
                    //-       img(src='../assets/images/facebook.png' alt='')
                    //-     __icon-social--twitter
                    //-       img(src='../assets/images/twitter.png' alt='')
                    //-     __icon-social--email
                    //-       img(src='../assets/images/email.png' alt='')
    .container-fluid
        .row
            .col-sm-12.col-md-12.col-lg-12.col-xl-12
                .footer-bg-bottom
                    p Copyright &copy; 2019 An Tin Group. All rights reserved. Designed by Web4G Solutions    
    
