section.company-message
  .message-wrap
      .message-box
        .message-box__description
          p
            span Phụng sự khách hàng, phụng sự Tổ quốc 
            | và gắn kết bạn bè thế giới, góp phần kiến tạo cộng đồng thịnh vượng, nâng cao các giá trị văn hóa Việt Nam, giao lưu với các nền văn hóa trên thế giới 
        .message-box__info
          .h4
            p TS Nguyễn Đức Thọ
          .h5 CHỦ TỊCH HĐQT - TGĐ
        .message-box__logo
          img(src='../assets/images/logo.png' alt='')

section.company-field
  .container-fluid
    .row
      .col-xl-3.col-lg-3.col-md-12.col-sm-12
        .field-box.field-box--main
          .field-box__img.field-box-main__img
            img(src='../assets/images/bn-5.png' alt='')
          .field-box__field.field-box-main__field LĨNH VỰC ĐẦU TƯ
      .col-xl-9.col-lg-9.col-md-12.col-sm-12  
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .field-box
                .field-box__img
                  img(src='../assets/images/bn-6.png' alt='')
                .field-box__description
                  h3.field-box__description__order 01/
                  span.field-box__description__name BẤT ĐỘNG SẢN
                  a.btn.field-box__description__link(href='') XEM THÊM
            .swiper-slide
              .field-box
                .field-box__img
                  img(src='../assets/images/bn-1.png' alt='')
                .field-box__description
                  h3.field-box__description__order 02/
                  span.field-box__description__name GIÁO DỤC
                  a.btn.field-box__description__link(href='') XEM THÊM
            .swiper-slide
              .field-box
                .field-box__img
                  img(src='../assets/images/bn-2.png' alt='')
                .field-box__description
                  h3.field-box__description__order 03/
                  span.field-box__description__name HÀNG KHÔNG
                  a.btn.field-box__description__link(href='') XEM THÊM
            .swiper-slide
              .field-box
                .field-box__img
                  img(src='../assets/images/bn-3.png' alt='')
                .field-box__description
                  h3.field-box__description__order 04/
                  span.field-box__description__name DU LỊCH
                  a.btn.field-box__description__link(href='') XEM THÊM
          .swiper-button-prev
          .swiper-button-next

section.company-project
  .container
    .project-top
      .heading
        h3 DỰ ÁN
      .list-tab
        ul.list-tab__items
          li.list-tab__item
            a.list-tab__link.active(href='') DU LỊCH
          li.list-tab__item
            a.list-tab__link(href='') BẤT ĐỘNG SẢN
          li.list-tab__item
            a.list-tab__link(href='') HÀNG KHÔNG
          li.list-tab__item
            a.list-tab__link(href='') TRUYỀN THÔNG
          li.list-tab__item
            a.list-tab__link(href='') GIÁO DỤC
          li.list-tab__item
            a.list-tab__link(href='') ĐẦU TƯ
          li.list-tab__item
            a.list-tab__link(href='') CÔNG NGHỆ
    .project-wrap
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .box-product
              .box-product__img
                img(src='../assets/images/project-1.png' alt='')
              .box-product__description
                h4 KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
          .swiper-slide
            .box-product
              .box-product__img
                img(src='../assets/images/project-2.png' alt='')
              .box-product__description
                h4 KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
          .swiper-slide
            .box-product
              .box-product__img
                img(src='../assets/images/project-3.png' alt='')
              .box-product__description
                h4 KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
      .swiper-pagination

section.company-statement
  .container
    .heading-title
      h1 TUYÊN NGÔN CHIẾN LƯỢC
      .heading-title__line
    .statement-wrap
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .statements__box
              .statements__box__order
                h1 01
                .statements__box__target MỤC TIÊU 2030
              .statements__box__description Độ nhận biết đầu tiên: 60% trong (nhóm khách hàng mục tiêu)
          .swiper-slide
            .statements__box
              .statements__box__order
                h1 02
                .statements__box__target MỤC TIÊU 2030
              .statements__box__description Tỉ số lợi nhuận trước thuế và lãi vay (EBIT margin): 8%
          .swiper-slide
            .statements__box
              .statements__box__order
                h1 03
                .statements__box__target MỤC TIÊU 2030
              .statements__box__description Xếp hàng đầu trong các công ty ngành du lịch Việt Nam
          .swiper-slide
            .statements__box
              .statements__box__order 
                h1 04
                .statements__box__target MỤC TIÊU 2030
              .statements__box__description Xếp hạng MỘT nhà tuyển dung hấp dẫn nhất trong các công ty du lịch Việt Nam
      .swiper-pagination

section.company-news
  .container-fluid
    .row
      .col-xl-3.col-lg-3.col-md-12.col-sm-12
        .news-category
          .news-category-box
            .news-category-box__heading
              h1 TIN TỨC
            .news-category-box__content
              a.news-category-box__content__link TIN AN TÍN GROUP
              a.news-category-box__content__link THÔNG TIN BÁO CHÍ
              a.news-category-box__content__link THÔNG TIN HỢP TÁC
      .col-xl-9.col-lg-9.col-md-12.col-sm-12
        .news-slide
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                a(href="#")
                  .news-item
                    .news-item__img
                      img(src="../assets/images/bg-1.png", alt="")
                    .news-item__link 
                      a(href="") An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
              .swiper-slide
                a(href="#")
                  .news-item
                    .news-item__img
                      img(src="../assets/images/bg-1.png", alt="")
                    .news-item__link 
                      a(href="") An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
              .swiper-slide
                a(href="#")
                  .news-item
                    .news-item__img
                      img(src="../assets/images/bg-1.png", alt="")
                    .news-item__link 
                      a(href="") An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
              .swiper-slide
                a(href="#")
                  .news-item
                    .news-item__img
                      img(src="../assets/images/bg-1.png", alt="")
                    .news-item__link 
                      a(href="") An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
            .swiper-button-prev
            .swiper-button-next
          .swiper-pagination

section.company-partner
  .container
    .partner-wrap
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .partner-wrap-link
              a(href="")
                img(src="../assets/images/56.png", alt="")
          .swiper-slide
            .partner-wrap-link
              a(href="")
                img(src="../assets/images/23.png", alt="")
          .swiper-slide
            .partner-wrap-link
              a(href="")
                img(src="../assets/images/88.png", alt="")
          .swiper-slide
            .partner-wrap-link
              a(href="")
                img(src="../assets/images/28.png", alt="")
          .swiper-slide
            .partner-wrap-link
              a(href="")
                img(src="../assets/images/56.png", alt="")
          .swiper-slide
            .partner-wrap-link
              a(href="")
                img(src="../assets/images/23.png", alt="")
          .swiper-slide
            .partner-wrap-link
              a(href="")
                img(src="../assets/images/28.png", alt="")
          .swiper-slide
            .partner-wrap-link
              a(href="")
                img(src="../assets/images/28.png", alt="")
        .swiper-button-prev
        .swiper-button-next



